@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 240 10% 20%;
    --card: 240 67% 97%;
    --card-foreground: 240 10% 20%;
    --popover: 240 67% 97%;
    --popover-foreground: 240 10% 20%;
    --primary: 255 70% 60%;
    --primary-foreground: 255 100% 98%;
    --secondary: 283 44% 92%;
    --secondary-foreground: 240 10% 20%;
    --muted: 240 60% 96%;
    --muted-foreground: 240 5% 55%;
    --accent: 283 44% 81%;
    --accent-foreground: 240 10% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 90%;
    --input: 240 20% 94%;
    --ring: 255 70% 60%;
    --radius: 0.8rem;
    --chart-1: 255 70% 60%;
    --chart-2: 283 44% 81%;
    --chart-3: 300 60% 70%;
    --chart-4: 240 50% 75%;
    --chart-5: 270 55% 80%;
    --sidebar-background: 240 67% 97%;
    --sidebar-foreground: 240 10% 20%;
    --sidebar-primary: 255 70% 60%;
    --sidebar-primary-foreground: 255 100% 98%;
    --sidebar-accent: 240 100% 99%;
    --sidebar-accent-foreground: 240 10% 20%;
    --sidebar-border: 240 20% 90%;
    --sidebar-ring: 255 70% 60%;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 240 10% 95%;
    --card: 240 10% 15%;
    --card-foreground: 240 10% 95%;
    --popover: 240 10% 15%;
    --popover-foreground: 240 10% 95%;
    --primary: 255 70% 60%;
    --primary-foreground: 255 100% 98%;
    --secondary: 283 30% 25%;
    --secondary-foreground: 240 10% 95%;
    --muted: 240 10% 20%;
    --muted-foreground: 240 5% 65%;
    --accent: 283 44% 81%;
    --accent-foreground: 240 10% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 25%;
    --input: 240 10% 25%;
    --ring: 255 70% 60%;
    --chart-1: 255 70% 60%;
    --chart-2: 283 44% 81%;
    --chart-3: 300 60% 70%;
    --chart-4: 240 50% 75%;
    --chart-5: 270 55% 80%;
    --sidebar-background: 240 10% 15%;
    --sidebar-foreground: 240 10% 95%;
    --sidebar-primary: 255 70% 60%;
    --sidebar-primary-foreground: 255 100% 98%;
    --sidebar-accent: 240 10% 20%;
    --sidebar-accent-foreground: 240 10% 95%;
    --sidebar-border: 240 10% 25%;
    --sidebar-ring: 255 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
